.formulario-oficina {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.formulario-oficina label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-oficina input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Evita que el padding aumente el ancho total */
}

.formulario-oficina button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario-oficina button:hover {
    background-color: #3e8e41;
}
